@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
}




.XM-container{
    display: flex;
    justify-content: center;
    background-color: #191919;
}
.XM-container .XM-center{
    width: 90%;
    position: relative;

}
.XM-container .XM-center .XM-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.XM-container .XM-center .XM-top .XM-right img{
    width: 650px;
    width: 100%;
    height: 743px;

}
.XM-container .XM-center .XM-top .XM-right {
    width: 45%;

}
.XM-container .XM-center .XM-top .XM-left{
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
}
.XM-container .XM-center .XM-top .XM-left h1{
    font-weight: 400;
    font-size: 65px;
    letter-spacing: 2.88px;
    color: white;
}
.XM-container .XM-center .XM-top .XM-left p{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 30px;
}
.XM-container .XM-center  .XM-top .XM-left h5{
    font-weight: 400;
    font-size: 18px;
    color: #118DA8;
    margin-top: 20px;
}
.XM-container .XM-center .XM-top .XM-left .XM-circle{
    width: 112px ;
    height: 112px;
}
.XM-container .XM-center .XM-top .XM-left .XM-arrow{
    width: 75px ;
    height: 57px;
    position: absolute;
    top: 190px;
    right: 1242px;
}
.XM-container .XM-center .XM-down {
    background-color: black;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    margin-bottom: 60px;
}
.XM-container .XM-center .XM-down .XM-sub {
    width: 90%;
    display: flex;
    margin-bottom: 75px;
    justify-content: space-between;
    align-items: center;
}
.XM-container .XM-center .XM-down .XM-chap p {
    font-weight: 400;
font-size: 18px;
color: #118DA8;
}
.XM-container .XM-center .XM-down .XM-chap  {
    width: 35%;
}
.XM-container .XM-center .XM-down .XM-rost  {
    width: 45%;
    margin-top: 30px;
}
.XM-container .XM-center .XM-down .XM-chap h1 {
    color: white;
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    letter-spacing: 2.88px;
}
.XM-container .XM-center .XM-down .XM-rost input {
    width: 522px;
    padding-left: 19px;
    margin-top: 20px;
    background: #191919;
    border: 1px solid #191919;
    border-radius: 6px;
    height: 82px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
}
.XM-container .XM-center .XM-down .XM-rost button {
    padding: 10px 15px 10px 20px;
    font-weight: 700;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    background-color: #118DA8;
    border-radius: 6px;
    margin-top: 20px;
   
}
.XM-container .XM-center .XM-down .XM-rost button:hover {
   cursor: pointer;
   transition: all 1s ease;
   border-radius: 50px;
   color: #118DA8;
   background-color: rgb(80, 75, 68);
}

.XM-container .XM-center .XM-down .XM-sub img {
    position: absolute;
    width: 147px;
    height: 91px;
    top: 307px;
    right: 1220px;
}
